In [17]:
class Employee:
 def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender
 def show_details(self):
    print("name of the employee is:",self.name)
    print("age of the employee is :",self.age)
    print("salary of the employee is :",self.salary)
    print("gender of the employee is:",self.gender)

In [21]:
p1=Employee("ahmed",20,1000,"male")

In [23]:
p1.show_details()

name of the employee is: ahmed
age of the employee is : 20
salary of the employee is : 1000
gender of the employee is: male

In [71]:
class Student(Employee):
    def __init__(self,name,age,salary,gender,university):
         super().__init__(name,age,salary,gender)
         self.university=university
    def show_student_details(self):
      print("name of the student university is:",self.university)  
      print("i am student")

In [77]:
p2=Student("amal",30,1400,"female","gfh")

In [79]:
p2.show_details()

name of the employee is: amal
age of the employee is : 30
salary of the employee is : 1400
gender of the employee is: female

In [83]:
p2.show_student_details()

name of the student university is: gfh
i am student